{% extends 'main/layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="features">
        <h1>Обо мне</h1>
        <p>Привет! Меня зовут Денис Четвериков. Я обожаю горы. Пришел в альпинизм в далеком 2014 году. С тех пор успел побывать на спортивных сборах в Приэльбрусье, Архызе, Хибинах, Крыму, Ерыдаге, Безенгах. За последний год сходил четыре 5А. Так в августе 2023 г. с командой пролезли километровую ледяную стену Уллуауза и сходили в экспедиционное восхождение на Дыхтау. Было круто!</p>
    </div>

{% endblock %}