{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Этот сайт не что иное, как мой пет-проект на Django. Я посмотрел цикл обучающих видео по созданию сайтов на Django и решил запилить свой блог. Здесь можно добавлять, редактировать и удалять различные заметки про альпинизм, горный туризм и другие аутдор активности. Сайт в доработке, поэтому сорри за ограниченный функционал!</p>
        <a href="{% url 'about' %}"><bottom class="btn btn-warning">На страницу обо мне</bottom></a>
    </div>

{% endblock %}